#wrapper{
	width: 960px;
	margin-right: auto;
	margin-left: auto;	
}
#grasrot{
	width: 50%;	
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;	
}

#evolutionline{
	display: block;
	margin-left: 19px;
	margin-right: auto;
	padding: 40px;
	
}
#saisart{
	font-family: georgia, serif;
	font-size: 1em;
	line-height: 100%;
	text-align: justify;
}
#psaisart{
	align: center;
}

#list{
	font-family: georgia, serif;
	font-size: 1.5em;
	line-height: 100%;
	
	line-height: 150%;
}

#pdf{
	padding: 30px;
	width: 94%;
	height: 500px; 
	border:none;
}

#article{
	
	padding-top: 20px;
	padding-bottom: none;
	text-align: center;
	
}
#h1{
	font-weight: normal;
	text-decoration: underline;
}
#h2{
	font-size: 1em;
	
}


.evolution {
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
}

.pictureline{
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


header{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rosybrown;
	text-align: center;
	font-family: verdana, sans serif;
	font-weight: bold;
	font-size: 2em;
	margin-top: 50px;
}

h1, h2, h3, h4, h5, h6{
	font-family: verdana, sans serif;
	font-weight: bold;
}

p{
	font-family: georgia, serif;
	padding: 40px;
	font-size: 1.5em;
	line-height: 150%;
	text-align: justify;
}

footer{
	width: 960px;
	height: 50px;
}



li a:link {
  color: black;
}

li a:visited {
  color: black;
}

li a:hover {
  color: white;
  background-color: black:
}

nav a.active {
	background-color: white;
	display: block;
}



nav{
	text-align: center;
	background-color: mistyrose;
	padding: 10px;
}

nav ul{
	list-style-type: none;
	margin-right: 70px;
	margin-left: 70px;
}

nav ul li{
	
	display: inline-block;
	margin-right: 40px;
	
}

nav ul li a{
	color: black;
	text-decoration: none;
	font-family: verdana, sans serif;
	font-size: 1.2em;
	
	
}

section{
	width: 960px;
	height: auto;	
	background: lavenderblush;
}



footer{
	height: 50px;	
	background: whitesmoke;
}